<div class="moduletable" id="Mod58">
    <h3 class="clearfix">
        <span class="right-bg clearfix"><span class="left-bg">Nouvelles des equipes</span></span>
	</h3>
    <div class="ja-box-ct clearfix">
        <div style="height: 430px; overflow: auto;">
			<%=render :partial => "team_posts/home_small_preview",:collection => team_posts%>
        </div>
    </div>
</div>
