<% content_for :title, "Nouvelle photo" %>
<%=render :partial=>'layouts/fullpage_header'%>
<h1>New photo</h1>

<%=render :partial => 'add_edit',:object => @photo%>

<%= link_to 'Retour', photos_path %>
<%=render :partial=>'layouts/fullpage_footer'%>