
<!-- FOOTER -->
<div id="ja-footer" class="wrap">
<div class="main clearfix">
<ul id="mainlevel-nav">
    <li><a href="#" class="mainlevel-nav">Contactez-Nous</a></li>
</ul>
<small>&#169;  MIPL.CA (Mirabel Impact Paintball League)</small>
</div>
</div>
<!-- //FOOTER -->
</div>
<script type="text/javascript">
	var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
	document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
	try {
		var pageTracker = _gat._getTracker("UA-11364826-1");
		pageTracker._trackPageview('/<%=h yield(:title) %>');
		} catch(err) {}
</script>
</body>
</html>